ac-comphist.dat
tramp
tmp
Xdefaults
abbrev_defs
*~
auto-save-list
.desktop_session/*
*.elc
*.elc*
stuff_from_other_not_used
pkg
.emacs.desktop
.emacs.desktop.lock
.emacs.desktop
thumbs
anything-c-adaptive-history
cache
doc/*
*.pdf
xhtml-loader.rnc
site-lisp/org-mode-git/
/TAGS
/bin/mew-6.4/mew.log
/bin/mew-6.4/temp.el
/eshell/history
/eshell/lastdir
COMMIT_EDITMSG
\#*
/site-lisp/fuzzy-ell/
/site-lisp/popup/
/erl_crash.dump
/site-lisp/submodules/*
/site-lisp/lisp/joseph-loaddefs.el
/url/cookies
/snippets/erlang-shell-mode
/bin/ec.exe
/site-lisp/emacs-jabber-0.8.90/elc-temp
/bin/ftp10.207.149.127.cmd
/bin/myftp2.cmd
GPATH
GRTAGS
GTAGS
TAGS
/places
/bookmarks
/history
/helm-adaptive-history
/network-security.data
/elpa/archives/
